---
import GitHub from "./icons/GitHub.astro"
import Solidity from "./icons/Solidity.astro"
import NodeJS from "./icons/NodeJS.astro"
import ReactJS from "./icons/ReactJS.astro"
import HTML5 from "./icons/HTML5.astro"
import CSS from "./icons/CSS.astro"
import ExpressJS from "./icons/ExpressJS.astro"
import Ganache from "./icons/Ganache.astro"
import Python from "./icons/Python.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  REACT: {
    name: "React.JS",
    class: "bg-black text-white",
    icon: ReactJS,
  },
  NODE: {
    name: " Node.JS",
    class: "bg-black text-white",
    icon: NodeJS,
  },
  HTML5: {
    name: " HTML5",
    class: "bg-black text-white",
    icon: HTML5,
  },
  CSS: {
    name: " CSS",
    class: "bg-black text-white",
    icon: CSS,
  },
  EXPRESS: {
    name: " Express.JS",
    class: "bg-black text-white",
    icon: ExpressJS,
  },
  GANACHE: {
    name: " Ganache",
    class: "bg-black text-white",
    icon: Ganache,
  },
  SOLIDITY: {
    name: " Solidity",
    class: "bg-black text-white",
    icon: Solidity,
  },
  PYTHON: {
    name: " Python",
    class: "bg-black text-white",
    icon: Python,
  },
}
const PROJECTS = [
  {
    title: "Breast Cancer Machine Learning models evaluation.",
    description:
      "Breast Cancel Machine Learning Models Evaluation using public dataset and different ML models such as Logistic Regression or Random Forest.",
    github: "https://github.com/aadel7/breast-cancer-ml-model",
    image: "/projects/breast-ml-model.png",
    tags: [TAGS.PYTHON],
  },
  {
    title: "Truck Tracking - Web 3 - Ethereum - DApp",
    description:
      "TruckTracking is a DApp prototype  built on the Ethereum blockchain (testnet) that enables tracking of trucks and their movements using Web3 technologies.",
    github: "https://github.com/aadel7/truck-tracking-web3-prototype",
    image: "/projects/truck-tracking.png",
    tags: [TAGS.NODE, TAGS.EXPRESS, TAGS.SOLIDITY, TAGS.GANACHE, TAGS.HTML5, TAGS.CSS],
  },
  {
    title: "First Portfolio Web",
    description:
      "Using a mix of JS, React JS, React Bootstrap, Styled Components, HTML5, CSS and other stuff that I've found during my research and learning process.",
    github: "https://github.com/aadel7/alshwely-portfolio",
    image: "/projects/portfolio-first.png",
    tags: [TAGS.NODE, TAGS.REACT, TAGS.HTML5, TAGS.CSS],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Project Img" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



